{{> templates/base }}
{{#partial "tituloYcss"}}
    <link rel = "stylesheet" href = "css/SugerenciasDeRevisionDeIncidentes.css">
    <title>Sugerencia de revisión de incidentes</title>
{{/partial}}
{{> templates/base }}

{{#partial "contenido"}}
    <div id="base">
        <h1 id="mensaje"> Cargando Sugerencias de Revisión...</h1>
    </div>
    <script src="js/SolicitarIncidentes.js"></script>
{{/partial}}
{{> templates/base }}