@import url(https://fonts.google.com/specimen/Oswald);

#body{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    min-height: 800px;
    background-color: #ffd59e;
	  color: #130101;
    background-size: cover;
    background-attachment: fixed;
}

#base{
    display:flex;
    flex-direction: column; /*para que el texto quede centrado y en distintos renglones*/
    justify-content: center;
    align-items: center;
}

#titulo{
    font-size: 70px;
}

#subtitulo{
    font-size: 30px;
}

#main-header {
	background: #130101;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
    z-index: 999;
}	

#main-header a {
	color: #fff;
}
		
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
	color: #73caf2cc;
}
	
#logo-header .site-name {
	display: block;
	font-weight: 700;
    font-size: x-large;
}
	
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #727272;
}
	

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #73caf2cc;
}
#contenedorPrincipal{
    text-align: center;
}

#contenedorFuncional{
    text-align: center;
    margin-top: 50px; /* Espacio entre los contenedores */
}

.btn{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.7);
    margin: 20px;
    height: 60px;
}


.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #130101;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#130101, #fff);
  padding: 0;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}

.btn-31 {
  border-width: 1px;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}
