{{> templates/favicon }}
{{#partial "head"}}
        <link rel = "stylesheet" href = "/css/LandingPage.css">
        <title>Registrar representante empresa</title>
{{/partial}}
{{> templates/favicon }}
{{#partial "body"}}
    <body id="body">
                    <div id="superior">
                        <h1 class="site-name">Serviño</h1>
                        <h6 class="site-desc">Servicios/ Comunidades </h6>
                    </div>

                    <div id="medio-arriba">
                        <div id="base">
                            <form
                            {{#if organismoDeControl}}
                                action="/organismoDeControl/representante"
                            {{else}}
                                action="/entidadPrestadora/representante"
                            {{/if}}
                            method="post">
                                <h3 class="texto">Vinculate con tu empresa</h3>
                                {{#if hayError}}
                                <div class="error-box">{{mensajeDeError}}</div>
                                {{/if}}
                                <div class="form-group">
                                     <div class="input-group mb-3">
                                         <span class="input-group-text">@</span>
                                         <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                     </div>
                                </div>
                                <div class="form-group">
                                     <div class="input-group mb-3">
                                         <span class="input-group-text">👤</span>
                                         <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario">
                                     </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">🔒</span>
                                        <input type="password" class="form-control" name="contrasenia" id="contrasenia" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <select class="form-select input-field" name="empresaId" id="inputGroupSelect02">
                                                <option selected>Seleccione su empresa...</option>
                                            {{#each empresas}}
                                                <option value="{{this.id}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="button_slide slide_left btn-registrar">Registrarse </button>
                            </form>
                        </div>
                    <img src="/./images/comunicacion.jpeg" alt="imagen de comunicacion" id="comunicacionImg">
                </div>

                 <footer class="bg-dark text-light text-center py-3">
                     <div class="container">
                         <p>&copy; 2023 Serviño</p>
                         <p>@: diseniogrupo9@gmail.com</p>
                     </div>
                 </footer>
     </body>
{{/partial}}
{{> templates/favicon }}